* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --light-green: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --medium-gray: hsl(186, 15%, 59%);
    --dark-gray: hsl(187, 24%, 22%);
}

body {
    min-height: 100vh;
    font-family: 'karia', sans-serif;
    background-color: var(--light-green);
    display: grid;
    place-content: center;
}

label {
    color: var(--dark-gray);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    font-family: inherit;
    border: 1px solid var(--medium-gray);
    border-radius: .35rem;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--green);
    border: 1px solid var(--green);
}

input[type='text'].form-error,
input[type='email'].form-error {
    border: 1px solid var(--Red);
}

.error-input {
    border: 1px solid var(--Red);
}

.required-input {
    color: var(--green);
}

.form-alert {
    display: none;
    color: var(--Red);
    margin-top: .5rem;
}

.form-alert.form-error {
    display: block;
}

.contact-form {
    background-color: var(--white);
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.contact-form h1 {
    color: var(--dark-gray);
    margin-bottom: 1.25rem;

}

.contact-form .form-item {
    margin-bottom: 1.5rem;
}

.contact-form .form-item:nth-child(1) {
    display: flex;
    gap: 1rem;

}

.contact-form .form-item:nth-child(3) .radio-inputs {
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
}

.contact-form .form-item:nth-child(3) .radio-inputs .radio-options {
    cursor: pointer;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    outline: 1px solid var(--medium-gray);
    border-radius: .35rem;
}

.contact-form .form-item:nth-child(3) .radio-inputs .radio-options.active {
    background-color: var(--light-green);
}

.contact-form .form-item:nth-child(3) input[type="radio"] {
    appearance: none;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    outline: 2px solid var(--green);
    outline-offset: 3px;
}

.contact-form .form-item:nth-child(3) input[type="radio"]:checked {
    background-color: var(--green);
}

.contact-form .form-item:nth-child(3) .radio-inputs .radio-options label {
    cursor: pointer;
    width: 100%;
}

.contact-form .form-item:nth-child(5) {
    margin-bottom: 2rem;
}

.contact-form .form-item:nth-child(5) div {
    display: flex;
    gap: 1rem;
}

.contact-form .form-item:nth-child(5) input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--green);
}

.contact-form .form-item:nth-child(5) label {
    cursor: pointer;
}

.contact-form .submit-btn {
    width: 100%;
    background-color: var(--green);
    color: var(--white);
    padding: .75rem;
    border: none;
    outline: none;
    border-radius: .35rem;
    cursor: pointer;

}

.contact-form .submit-btn:hover {
    background-color: var(--dark-gray);
}

.success-message {
    background-color: var(--dark-gray);
    color: var(--light-green);
    width: max-content;
    padding: 1rem;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .35rem;
}

.success-message.active {
    display: block;
    pointer-events: all;
    animation-name: fadeOut;
    animation-duration: 6s;
    animation-fill-mode: forwards;

}

@keyframes fadeOut {

    0%,
    25%,
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.success-message .message-header {
    color: var(--white);
    margin-bottom: .5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5rem;
}

@media(max-width:368px) {
    .contact-form .form-item:nth-child(1) {
        flex-direction: column;
    }

    .contact-form .form-item:nth-child(3) .radio-inputs {
        flex-direction: column;
    }

    textarea {
        height: 200px;
    }

    .success-message {
        width: 35ch;
        top: 5%;
    }
}